# LaTeX auxiliary files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

# LaTeX intermediate files
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# Nomenclature
*.nlo
*.nls
*.nlg

# Bibliography
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# Build tool directories
latexmk/
latex.out/

# Index files
*.idx
*.ilg
*.ind
*.ist

# Glossary files
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.glsdefs

# Beamer files
*.nav
*.pre
*.snm
*.vrb

# Makeindex log files
*.maf
*.mlf
*.mlt
*.mtc*

# Tikz externalization
*.dpth
*.md5
*.auxlock

# Endfloat
*.ttt
*.fff

# Latexian
TSWLatexianTemp*

# Hyperref
*.brf

# Listings package
*.lol

# Todonotes
*.tdo

# Xindy
*.xdy

# WinEdt
*.sav

# Texpad
.texpadtmp

# LyX
*.lyx~

# KBibTeX
*~[0-9]*

# PDF output (uncomment if you don't want to track compiled PDF)
# *.pdf
